@import 'media-queries';

.btn-back{
    position: relative;
    left: 10px;
    z-index: 5;
    
    height: 40px;
    width: 40px;
    margin: 10px;
    border: 0;
    
    cursor: pointer;
    background-color: red;
    color: white;
    &::before{
        content: "";
        
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        
        border-left: 0px solid transparent;
        border-right: 10px solid red;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        
        cursor: pointer;
    }
}

#poke-top{
    height: 60px;
    
    background-color: #666;
    color: #fff;
    #pokemon-id{
        position: absolute;
        top: 10px;
        
        width: 100%;
        
        text-align: center;
        font-size: 1.5em;
    }
    #pokemon-types{
        position: absolute;
        top: 40px;
        
        width: 100%;
        
        text-align: center;
        .pokemon-type{
            height: 15px;
        }
    }
}


#poke-description{
    #pokemon-hw{
        padding: 10px;
    }
    #pokemon-sprite{
        display: block;
        margin: 0 auto;
    }
    #poke-info{
        padding: 10px;
    
        background-color: #666;
        color: #fff;
        #pokemon-description{
            
        }
        #pokemon-stats{
            b{
                display: inline-block;
                min-width: 100px;
            }
        }
        @include desktop-only {
            #pokemon-description, #pokemon-stats{
                vertical-align: middle;
                
                display: inline-block;
                width: calc(50% - 20px);
            }
            #pokemon-stats{
                padding-left: 20px;
            }
        }
        
        @include mobile-only{
           #pokemon-description{
               margin-bottom: 20px;
           }
        }
    }
}

.poke-comments-section{
    .poke-comments{
        list-style: none;
        padding: 10px;
    }
    .poke-comments-list-item{
        margin-bottom: 10px;
    }
    .new-comment{
        input, textarea{
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }
        input{
            height: 35px;
            width: calc(50% - 2px);
        }
        textarea{
            min-height: 60px;
            width: 100%;
            display: block;
        }
        button{
            float: right;
            
            height: 45px;
            width: 80px;
            
            cursor: pointer;
        }
        @media (max-width : 475px) {
            input{
                width: 100%;
            }
        }
    }
    .comments-user{
        vertical-align: top;
            
        max-width: 50px;
        display: inline-block;
        img{
            width: 100%;
        }
    }
    .comments-body{
        display: inline-block;
        width: calc(100% - 55px);
        padding-left: 10px;
        box-sizing: border-box;
        max-width: 500px;
        span{
            color: #3b5998;
            font-weight: bolder;
        }
        p{
            margin: 0px;
        }
    }
}